body {
    background-color: #FFFDD0;  
}

.titlepage {
    border-bottom: solid black;
}

.titlepage,
.namepage {
    font-family: sans-serif, Times New Roman;   
}

.namepage {
    text-align: right;
}

.recipes {
    font-size: 18px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

#beefsteak,
#cornedbeef,
#eggs {
    margin: 10px;
}